# Region Setting
symphony_ip = "<Symphony Region>"
ami_webserver = "<ami>"
sg_web_servers = "<security group name>"


# .tfvars Sample File
# Remember to omit the .sample from the extension prior to running Terraform


# Region Credentials
symphony_ip = "<region ip>"
access_key = "<access key>"
secret_key = "<secret key>"

# Reccomend for you to use Xenial's latest cloud image
# located here: https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img 

ami_image = "<image ID>"



# optional
# instance_type = "<instance-type>"
# instance_number = <number of instances>