version: 0.1
log:
  level: debug
  formatter: text
  fields:
    service: registry
    environment: staging
storage:
  s3:
    accesskey: <ACCESS_KEY>
    secretkey: <SECRET_KEY>
    region: us-east-1
    regionendpoint: https://<Symphony Region>:1060
    bucket: <Symphony S3 Bucket Name>
    encrypt: false
    secure: false
    v4auth: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
